<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title class="px-0">Términos y Condiciones</ion-title>
  </ion-toolbar>
  <div class="borde"></div>
</ion-header>

<ion-content class="ion-padding">

  <ion-row>
    <ion-col>
      <h3 class="titulo-tutorial">“KNOW”</h3>
      <p>
        KNOW valora la privacidad de su información personal y el contenido que usted
        almacena en nuestro servicio. Esta política de privacidad explica qué
        información recopila nuestra aplicación, propiedad de la Empresa Unipersonal
        Oscar Thobias Rodas Duarte, acerca de Usted y por qué lo hace; qué podemos
        hacer con esa información y cómo manejamos su contenido.
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h3 class="titulo-tutorial">EL ALCANCE DE ESTA POLÍTICA DE PRIVACIDAD.</h3>
      <p>
        Esta Política de Privacidad está integrada a los Términos del Servicio de KNOW
        y se aplica a la información obtenida por nosotros a través del uso que Usted
        hace de esta aplicación KNOW.
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h3 class="titulo-tutorial">POSIBLES CAMBIOS O ACTUALIZACIONES EN LA
        POLÍTICA DE PRIVACIDAD.</h3>
      <p>
      <p>
        Como KNOW constantemente evoluciona, puede que necesitemos actualizar
        esta política para mantener el ritmo de cambios en el Servicio, nuestra
        actividad comercial, así como las leyes aplicables a nosotros y a Usted; sin
        embargo, siempre mantendremos nuestro compromiso de respetar su
        privacidad.
      </p>
      <p>
        Publicaremos cualquier cambio a esta Política, junto con su fecha efectiva, en
        un área visible de nuestra aplicación, por lo que recomendamos entrar
        periódicamente para mantenerse informado de cualquier cambio.
      </p>
      <p>
        Vamos a pedir su consentimiento respecto a dichos cambios, en caso de ser
        requerido por la ley aplicable; en otros casos, por favor tenga en cuenta que la
        continuación de su cuenta en el Servicio de KNOW después de cualquier cambio
        significa que Usted está de acuerdo con y acepta estar obligado a la nueva
        Política de Privacidad.
      </p>
      <p>
        Si Usted no está de acuerdo con los cambios en esta Política y no desea que su
        información esté sujeta a la política revisado, debe cerrar su cuenta
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h3 class="titulo-tutorial">RECOPILACIÓN Y USO DE INFORMACIÓN</h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h3 class="subtitulo-tutorial">¿QUÉ INFORMACIÓN RECOPILA KNOW ACERCA DE MÍ Y POR QUÉ?</h3>
      <p>
        Si se registra o mantiene una cuenta del Servicio KNOW: su nombre, apellido,
        dirección de correo electrónico y teléfono. Para crear y dar soporte a su cuenta
        del Servicio KNOW; y, para ponernos en contacto con Usted y ofrecerle una
        mejor experiencia en cuanto a productos; A su vez, KNOW podría utilizar esta
        información para enviar correos electrónicos de marketing y ofertas especiales.
      </p>
      <p>
        KNOW puede contener vínculos a otros sitios web («Sitios vinculados»). Los
        Sitios Vinculados no están bajo el control de KNOW y KNOW no es responsable
        del contenido de ningún Sitio Vinculado, incluyendo, sin limitación, cualquier
        vínculo en un Sitio Vinculado, o cualquier cambio o actualización de un Sitio
        Vinculado. Know le proporciona estos vínculos sólo para su conveniencia, y la
        inclusión de cualquier vínculo no implica aprobación por parte de KNOW ni
        asociación con tal enlace. Ciertos servicios disponibles a través de KNOW son
        proporcionados por sitios y organizaciones de terceros. Al utilizar cualquier
        producto, servicio o funcionalidad que se origine en el dominio KNOW, usted
        reconoce y acepta que KNOW puede compartir dicha información y datos con
        cualquier tercero con quien KNOW tenga una relación contractual para
        proporcionar el producto, servicio o funcionalidad solicitada en nombre de los
        usuarios y clientes de KNOW.
      </p>
      <p>
        Al agregar un enlace en su perfil de KNOW, sea donde fuere que lleve, usted
        reconoce y acepta que está dando su consentimiento para la divulgación
        continua de información sobre usted a otros (de acuerdo con su configuración
        de privacidad en esos sitios de terceros). Si no desea que su información se
        comparta de esta manera, no utilice esta función.
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h3 class="titulo-tutorial">CAMPO Near-field Communication</h3>
      <p>
        Asimismo, el uso de la plataforma o aplicación se encontrará vinculado a chips de
        comunicación de campo cercano (Near-field Comunicación) (NFC). La información
        contenida en los chips de NFC será la relacionada con sus datos de contacto, así
        como los hipervínculos a las redes sociales dadas de alta por el Usuario. Sin
        perjuicio de lo anterior, el Usuario también podrá compartir los datos e
        hipervínculos a redes sociales antes mencionados utilizando un Código de Quick
        Response (QR); siempre concediendo su autorización.
      </p>
      <p>
        Uso Autorizado de la Página y/o Plataforma digital. - “KNOW” autoriza al Usuario,
        a utilizar los chips NFC, así como la plataforma digital y aplicación móvil
        de “KNOW” para efectos de; consultar la información relacionada con los links de
        redes sociales del Usuario; Compartir los datos del Usuario. Nada de lo establecido
        en estos Términos de Uso autoriza al Usuario a disponer, lucrar o dar un uso
        distinto a la Página y/o Plataforma o a la información contenida en la misma, sea
        esta visible o no; por lo que en este acto libera a KNOW de cualquier mal uso que
        pudiera llegar a darse a la plataforma. El Usuario manifiesta ser mayor de edad y
        en plena capacidad legal, de conformidad con la legislación aplicable. KNOW se
        reserva el derecho a limitar o denegar la autorización de uso antes referida en
        cualquier momento, sin necesidad de previo aviso o notificación y sin
        responsabilidad alguna para KNOW.
      </p>
      <p>
        Cabe aclarar que, KNOW en ningún momento recaba o concentra las contraseñas
        de acceso a los perfiles de redes sociales del Usuario, por lo que en este acto se
        deslinda de cualquier clase de acceso no autorizado a los perfiles de redes sociales
        del o de los Usuarios o cualquier publicación realizada en las mismas.
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h3 class="subtitulo-tutorial">¿CUÁL ES EL ENFOQUE DE KNOW RESPECTO A LA INFORMACIÓN
        RECOPILADA DE NIÑOS?</h3>
      <p>
        KNOW no recopila conscientemente información personal de menores sin el
        consentimiento expresode sus representantes legales (padres, tutores, etc.). Si nos
        damos cuenta de que involuntariamente hemos obtenido información Violente las
        leyes aplicables que prohíban la recolección de datos de menores sin dicho
        consentimiento, procederemos a eliminarla en la brevedad posible.
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h3 class="subtitulo-tutorial">¿KNOW ME ENVIARÁ MENSAJES POR CORREO ELECTRÓNICO?</h3>
      <p>
        Ocasionalmente podríamos querer comunicarle información sobre anuncios de
        productos, actualizaciones de software y alertas especiales. También querremos
        comunicarle información sobre anuncios de productos y servicios de nuestros socios
        comerciales. Consideramos su aceptación de esta Política de Privacidad como su
        aceptación de nuestro ofrecimiento para enviarle estos correos electrónicos.
        Puede cancelar estas comunicaciones en cualquier momento enviando o
        respondiendo un correo electrónico a la dirección [gruporodassa@gmail.com] con
        el asunto “cancelar suscripción”.
      </p>
      <p>
        Continuará recibiendo información esencial relacionada con la cuenta y el Servicio,
        incluso si cancela su suscripción a los correos electrónicos promocionales.
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h3 class="titulo-tutorial">ACCESO Y DIVULGACIÓN DE INFORMACIÓN.</h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h3 class="subtitulo-tutorial">¿KNOW COMPARTE MI INFORMACIÓN PERSONAL Y MI CONTENIDO?</h3>
      <p>
        KNOW no activa en el negocio de vender o alquilar información de usuarios y
        solamente divulgamos información cuando: contemos con su consentimiento
        explícito para compartir información.
      </p>
      <p>
        Creemos que es necesario investigar potenciales violaciones de nuestros Términos
        del Servicio con el fin de hacer que se cumplan o cuando creamos que es necesario
        investigar, prevenir o tomar acciones respecto a actividades ilegales, presunto
        fraude o amenazas potenciales contra personas, propiedad o sistemas de quienes
        trabajamos en el Servicio.
      </p>
      <p>
        Determinamos que el acceso, la conservación o la divulgación de información se
        requieren o permite por la ley para proteger los derechos, la propiedad o la
        seguridad personal de KNOW y de los usuarios del Servicio o se requiere para
        cumplir las leyes aplicables, incluyendo el cumplimiento de garantías, órdenes
        judiciales u otros procesos legales. Lo hacemos en relación con la venta o la
        reorganización de todo o de una parte de nuestro negocio, según lo permitido por
        la ley aplicable.
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h3 class="titulo-tutorial">ALMACENAMIENTO Y TRANSFERENCIA DE DATOS.</h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h3 class="subtitulo-tutorial">¿DÓNDE SE GUARDA MI INFORMACIÓN?</h3>
      <p>
        Cuando Usted usa el Software de KNOW en su dispositivo móvil, el Contenido que
        Usted guarde se almacenará localmente en ese dispositivo. Cuando sincronice su
        dispositivo móvil con el Servicio, dicho Contenido será replicado en nuestros
        servidores, Si Usted lee y acepta esta Política de Privacidad mediante el aplicativo
        KNOW, Usted está confirmando su consentimiento para que dicha información,
        incluyendo la información y contenido personal, sea alojada y accesible en el
        servidor.
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h3 class="subtitulo-tutorial">¿CÓMO DE SEGURA ESTÁ MI INFORMACIÓN?</h3>
      <p>
        KNOW se compromete a proteger la seguridad de su información y toma
        precauciones razonables para protegerla. Utilizamos la codificación criptográfica
        estándar de la industria para proteger sus datos en tránsito. Esto se conoce
        comúnmente como la seguridad de la capa de transporte (TLS, por sus siglas en
        inglés) o tecnológica de capa de conexión segura (SSL, por sus siglas en inglés). Sin
        embargo, no se puede garantizar que la transmisión de datos a través de Internet
        sea 100% segura, y por lo tanto, no se puede garantizar la seguridad de la
        información que Usted nos transmita; consecuentemente, Usted acepta que lo hace
        bajo su propio riesgo.
      </p>
      <p>
        Cuando recibimos sus datos, los protegemos en nuestros servidores utilizando una
        combinación de medidas de seguridad administrativas, físicas y lógicas. La
        Seguridad de la información almacenada localmente en el Software de KNOW
        instalado en su dispositivo móvil depende de que Usted haga uso de las funciones
        de seguridad de su dispositivo.
      </p>
      <p>
        Le recomendamos que tome las medidas apropiadas para garantizar la seguridad
        de todos los dispositivos móviles que usa con nuestra aplicación y servicio. Si KNOW
        se entera de una violación a los sistemas de seguridad, podemos intentar
        notificarle y proporcionarle información sobre las medidas de protección, si están
        disponibles, a través de la dirección de correo electrónico que Usted nos haya
        proporcionado.
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h3 class="titulo-tutorial">CONTÁCTENOS</h3>
      <p>
        KNOW agradece sus comentarios respecto a esta Política de Privacidad. Si Usted
        tiene preguntas, comentarios o inquietudes sobre esta Política de Privacidad, por
        favor contáctenos al siguiente correo electrónico [gruporodas@gmail.com]
      </p>
    </ion-col>
  </ion-row>
</ion-content>
