<!-- <ion-content  style="--background: #231F20; height: 90vh;" class="ion-justify-content-end ion-align-items-end">
  <div>

    <h3>hola</h3>
  </div>
</ion-content> -->
<ion-content style="--background: #231F20;">
  <ion-grid class="d-flex flex-column justify-content-center align-items-center" style="height: 98vh !important;">
    <ion-row class="ion-justify-content-center">
      <ion-col size="7" sizeMd="6" sizeLg="6" style="margin: auto; padding-top: 200px;">
        <ion-img src="assets/smalllogo.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 70px;">
      <ion-col style="text-align: center; width: 174px !important;">
        <ion-button class="button-primary" style="width: 174px;" routerLink="/login">Iniciar sesión</ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="margin-bottom: 65px; padding-bottom: 30px;">
      <ion-col style="text-align: center; width: 174px !important;">
        <ion-button class="button-secondary" style="width: 174px;" routerLink="/registro">Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
  </ion-grid>

</ion-content>

<section id="preload" style="display: none;">

</section>
