body {
  background: #F5F5F5;
}

ion-title {
  font-size: 16px;
}

ion-content {
  height: 100% !important;
}

.texto {
  font-size: 24px !important;
  padding-left: 18px;
}

.qr {
  /*   width: 200px !important;
    height: 200px !important;
    padding-bottom: 88px !important;
    padding-top: 259px !important;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 150px;
    margin-bottom: 150px; */
}

.qrContent {
  position: absolute;
  text-align: center;
  display: flex;
  width: 100%;
  height: 88%;
  justify-content: center;
  align-items: center;
}
