<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title class="know-title">Know</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" size="small" (click)="modal.dismiss()">
        <ion-icon name="close" class="text-right"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-vertical" *ngIf="file">
  <ion-grid>
    <ion-row class="ion-margin-bottom">
      <ion-col size="12" style="max-height: 640px;">
        <image-cropper
          [imageBase64]="file"
          [maintainAspectRatio]="true"
          [aspectRatio]="aspectRatio | async"
          [resizeToWidth]="label === 'avatar' ? 1080 : 256"
          [format]="'jpeg'"
          outputType="'base64'"
          (imageCropped)="cropImg($event)"
          (imageLoaded)="imgLoad()"
          (cropperReady)="initCropper()"
          (loadImageFailed)="imgFailed()">
        </image-cropper>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top px-1">
      <ion-col>
        <ion-button type="submit" class="button-dark" expand="block" (click)="cancelar()">Cancelar
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button type="submit" class="button-dark" expand="block" (click)="modal.dismiss()">Guardar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
