<ion-header class="ion-no-border">
  <ion-toolbar class="fondo">
    <ion-title>Know</ion-title>
    <ion-buttons slot="start" style="padding-right: 12px;" class="mx-0">
      <ion-back-button [defaultHref]="'/login'"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="borde"></div>

<ion-content class="fondo">
  <form [formGroup]="ngForm">
    <ion-grid class="d-flex flex-column justify-content-start px-0" style="height: 80vh !important;">
      <ion-row class="mx-0">
        <ion-col size="11" sizeSm="10" sizeMd="8" class="m-auto">
          <ion-row class="py-0">
            <ion-col class="py-0 pt-3">
              <h3 class="py-0 my-2">Recuperar contraseña</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="text-align: center;">
              <ion-item class="input fondo">
                <ion-label [position]="'stacked'">E-mail</ion-label>
                <ion-input formControlName="email" type="email"></ion-input>
              </ion-item>
              <ion-item class="fondo" lines="none"
                        *ngIf="ngForm.controls['email'].touched &&  ngForm.controls['email'].hasError('email')">
                <ion-label class="text-danger" style="margin-bottom: 0px !important;">Es un e-mail inválido
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="text-align: center;">
              <ion-item class="input fondo">
                <ion-label [position]="'stacked'">Contraseña</ion-label>
                <ion-input formControlName="password" type="password"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="text-align: center;">
              <ion-item class="input fondo">
                <ion-label [position]="'stacked'">Confirmar contraseña</ion-label>
                <ion-input formControlName="password_confirmation" type="password"></ion-input>

              </ion-item>
              <ion-item class="fondo" lines="none"
                        *ngIf="ngForm.controls['password_confirmation'].touched && ngForm.controls['password_confirmation'].hasError('NoPassswordMatch')">
                <ion-label class="text-danger" style="margin-bottom: 0px !important;">Las contraseñas no son iguales
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="text-align: center;" class="ion-padding-top px-0">
              <ion-button type="submit" class="button-dark" expand="block" (click)="aceptar()"
                          [disabled]="!valid || (confirmarClicked | async)">Aceptar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
